.tweetform{
    border:8px solid black;
    padding: 10px;
}

.tweetmessage{
    border: 2px solid red;
    width: 200px;
    height: 100px;
    padding: 10px;
}
.mainpage{
    background-color: black;
}
